
<div class="container">
    <div class="item params" [style.width.px] = 'width'>
        <app-params 
            (change)="changed" 
            (simulationStart)="simulationStarted($event)"
            [simulationInProgress]="simulationInProgress">
        </app-params>
    </div>
    <div class="item">
        <div class="container">
            <app-tea-tin 
                [state]="state.initialState" 
                [width]='width' >
            </app-tea-tin>
            <app-cups 
                [width]='width' 
                [noOfCups]="state.noOfCups" 
                [style.width.px] = 'width * 1.5' 
                [style.height.px]="width / 2" >
            </app-cups>
        </div>
    </div>
</div>

