.container{
    display: flex;
    vertical-align: bottom;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap-reverse;
    align-content: space-between;
    padding-top: 15px;
}

.container > * {
    padding-top: 10px;
    width: 30%;
    justify-content: center;
}