<div class="vertical-container">
    <div class="container">
        <label for='number'>How many cups of tea?</label>
        <input [disabled]="simulationInProgress  || !changeEnabled" class="form-control" id='number' name='number' type="number" min=1 max=5 step=1 [(ngModel)]="state.noOfCups" (ngModelChange)="changed($event)"/>
    </div>
    <div class="container">
        <label for='init-state'>Initial State: </label>
        <select [disabled]="simulationInProgress || !changeEnabled" class="form-control" id="init-state" [(ngModel)]="state.initialState" (ngModelChange)="changed($event)">
            <option *ngFor="let s of allStates" [value]="s.value" >{{s.display}}</option>
        </select>
    </div>
    <div class="btn-container" [style.visibility]='simEnabled ? "": "hidden"'>
        <button [disabled]="simulationInProgress" type="button" (click)='simulation()'>Run Simulation</button>
    </div>
</div>