.outer-container {
    display: flex;
    flex-direction: column;
}

.params {
    background-color: #d6d6c6;
}

.params > * {
    margin-top: 5px;
}

.buttons {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}