<!-- <div class="vertical-container">
    <div class="container">
        <label for=''>Comma separated te</label>
        <input class="form-control" id='number' name='number'  [(ngModel)]="teaRounds" (ngModelChange)="changed($event)"/>
    </div>
    <div class="container">
        <label for='init-state'>Initial State: </label>
        <select [disabled]="simulationInProgress || !changeEnabled" class="form-control" id="init-state" [(ngModel)]="state.initialState" (ngModelChange)="changed($event)">
            <option *ngFor="let s of allStates" [value]="s.value" >{{s.display}}</option>
        </select>
    </div>
    
</div> -->