
<div class="container">
    <div>
        <h1>Ian's Puzzle</h1>
        <div class="quote">
            <p>"I make 2 cups of tea and take one up to my wife. Some would say the luckiest woman in the world, but that’s another story.</p>
            <p>I take the teabags from the box of Yorkshire Tea. The box is on a shelf and its first thing in the morning so I’m not going to get the box down and look in it; I’m not stupid!  I just reach in randomly and get a teabag. As everyone knows, Yorkshire Tea teabags come in pairs, so if you are making one cup of tea and you pick up a pair you have to split the teabags to use one and put the other back. If I am making two cups of tea and I dip into the box and pull out a double I think ‘today is going to be a great day’. Sometimes I dip in and get one teabag, then dip again and get 2! Aaahhgggh! I might as well go back to bed! I randomly pick a side of the box to get a teabag from.</p>
            <p>The current box is about half way down and given we have a family of 5 and they are all home at present making random cups of tea for one or more, the box has settled into a steady expected state. There could be a double on the top. There could be a double one side and a single sat on top on the other. There could be 2 singles because someone picked a double from one side under the single the other, then made a single cup of tea then returned the single. When they do this, weirdly they always put the single back in the gap making 2 singles, not a growing pile of singles.</p>
            <p>What is the chance of me having a great day?"</p>
        </div>
        <div>
            <h3>
                Tea Tin State
            </h3>
            <p>There are four possible states the tin could be in when Ian begins the process of making the morning tea:</p>
            <app-outcome-row [width]="width" [states]="[getState('d0'), getState('s0'),getState('l0'), getState('r0') ]"></app-outcome-row>
        </div>
        <div>
            <h3>
                Modelling Tea-making events
            </h3>
            <p>Given that there are 5 members of the Harris-household, and given that currenly guests are outlawed, we can safely assume that a tea making event needs between 1 and 5 teabags.</p>
            <p>Ian also tells us that (because of his assertion that he's <i>not stupid</i>) a side is picked at random so we can assume that each 'dip' into the tin is random and not dependant on the results of any other 'dip' into the tin.</p>
            <h4>
                Simulation
            </h4>
            <p>
                We can simulate a single tea making event (choosing a side for each dip into the tin at random) as follows.
            </p>
            <p>
                For any tea making event we have an initial state based on the Tea Tin state and the number of cups of tea we are making. For example, if we want to make 3 cups of tea and the tea-tin has a double on top then our initial state is:
            </p>
            <app-outcome-row [width]="width * 1.5" [states]="[getState('d3')]"></app-outcome-row>
            <h5>
                'Dips' into the tea tin
            </h5>
            <p>
                We proceed to dip into the tea tin until we have filled each cup with a bag, we can therefore consider each 'dip' into the tin as transforming our initial state into a new state. For example, if we start with double on top and want to make 4 cups of tea then we start here:
            </p>
            <app-outcome-row [width]="width * 1.5" [states]="[getState('d4')]"></app-outcome-row>
            <p> Then in our first 'dip' we take the double on top, make 2 cups of tea and end up here:</p>
            <app-outcome-row [width]="width * 1.5" [states]="[getState('d2')]"></app-outcome-row>
            <p> Finally, we take another double off the top and our final result is here:</p>
            <app-outcome-row [width]="width * 1.5" [states]="[getState('d0')]"></app-outcome-row>

            <h5>More complicated scenarios</h5>
            <p>Of course, not every dip into the tea-tin is deterministic in it's outcome. If we consider this initial state:</p>
            <app-outcome-row [width]="width * 1.5" [states]="[getState('l5')]"></app-outcome-row>
            <p>Then we have 2 possible outcomes, each with 0.5 probability, depending on whether we dip into the tin at the left or the right:</p>
            <app-outcome-row [width]="width * 1.5" [states]="[getState('d4'), getState('l3')]"></app-outcome-row>
        </div>
        <div>
            <h3>
                Single Tea-Making Event Outcome Probability Calculator
            </h3>
            <p>We can therefore build up a calculator of the outcome states for a given tea-making event by modelling a series of 'dips' into the tea-tin until we have enough tea bags.</p>
            <div class="lh params">
                <app-params class="params" [state]="opmState"></app-params>
            </div>
            <app-tea-round [fromState]="opmState" [baseWidth]="width * 1.5">
            </app-tea-round>
        </div>

        <div>
            <h3>
                Multiple Tea-Making Event Outcome Probability Calculator
            </h3>
            <p>By simply feeding results back in we can now use the probabilities generated above to model the probabilities of the tea-tin being in a certain state after multiple tea rounds</p>
            <h5>
                Worked Example
            </h5>
            <p>By way of an example, consider the case when we start with a double tea-bag on top of the pile then make a 5-cup round followed by a 2-cup round.</p>

            <p>Using the calculator above we can see that after the 5-cup round we have this range of possibilities:</p>
            <app-outcome-row [width]="width" [states]="after5cup"></app-outcome-row>

            <p>Now, if we take the left hand outcome, we can feed this back through the calculator for the subsequent 2-cup round but this time we multiply the output probabilities by 0.5 (the probability of arriving at the left hand output):</p>
            <p>Possible outcomes after the 2-cup round if the initial 5-cup round resulted in a left-single at the top of the pile:</p>
            <app-outcome-row [width]="width" [states]="lhDemo"></app-outcome-row>
            <p>Repeating the exercise for the right-side outcome of the 5-cup round we have:</p>
            <app-outcome-row [width]="width" [states]="rhDemo"></app-outcome-row>
            Therefore the combined probabilities after both rounds is:
            <app-outcome-row [width]="width" [states]="after5cup"></app-outcome-row>
            <h5>
                Interactive calculator
            </h5>
            <p>By continuring to feed the outcomes back through the calculator we can build up a chain of these outcome probabilities representing the state of the pile of tea-bags after an arbitrary number of tea-making events. 
            The following Interactive simulation starts with a full tea-bag pile and shows the probability distribution after an arbitrary number of rounds of tea.</p>
            
            <app-multi-tea-rounds [baseWidth]="width * 1.5">
            </app-multi-tea-rounds>
        </div>

        
        
    </div>
    
</div>
